option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    DB_HOST: "curanet-db-2.coloy0ku6zmn.us-east-1.rds.amazonaws.com"
    DB_USER: "admin"
    DB_PASSWORD: "Database12!"
    DB_NAME: "curanet_db_test"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application