option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:/var/app/current/backend"
    DB_HOST: "curanet-db.cliek6io2ac7.eu-north-1.rds.amazonaws.com"
    DB_PORT: "3306"
    DB_USER: "admin"
    DB_PASSWORD: "Database12!"
    DB_NAME: "curanet_db_test"
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application